﻿@model crestfinewebapp.MonthlyReport

@{
    ViewBag.Title = "Monthly Report";
}

<h2>Details</h2>

<div>
    <h4>@{
        ViewBag.Time = $"{DateTime.Now}";
    }</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageMonthlySales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMonthlySales)
        </dd>

    </dl>
</div>
<p class="col-md-8">
        @Html.ActionLink("PDF", "CreatePDF", new { id = Model.MonthlyReportID }, new {@class= "btn btn-info" })
        @Html.ActionLink("Back to List", "Index", new {@class= "btn btn-default" })
    
</p>
